<!DOCTYPE html>
<html lang="es">

    <head>

        <%- include('./content/header') %>
        
    </head>

    <body>

        <main id='main'>

            <section id='cartsSection'>
                <a class='carrito' href='/api/carrito/carritos'>Mi carrito</a>
            </section>
            
            <%- include('./content/form') %>

            <%- include('./content/cards') %>

        </main>

        <script src="/js/main.js"></script>

    </body>
    
</html>